#Map {
    border-top: 1px solid #3c1053;
    background: url(../img/map.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    // background-size: auto 100%;
    color: $myColor1;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.45;
    margin: 0 auto 29px auto;
    padding: 0;
    position: relative;
    font-family: "Gilroy", "Arial", "Helvetica Neue", "Helvetica", sans-serif;

    .top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 1230px;
        min-height: 395px;
        padding: 0 15px;
        position: relative;

        .text {
            padding: 40px 0;

            h1 {
                font-weight: 500;
                font-family: $myFamily;
                font-weight: bold;
                color: $myColor1;

            }

            h2 {
                color: $myColor;
                font-weight: 0;
                font-family: $myFamily;

            }

            p {
                width: 500px;
                color: $myColor1;

            }

        }
    }

    .category-item {
        background: $myColor;
        color: #fff;
        height: 100%;
        font-weight: 500;
        margin-top: 50px;

        .thumbnail-text {
            padding: 15px 19px 9px;

            h4 {
                font-weight: bold;

                a {
                    color: #fff;
                    margin: 0 0 11px;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: #ff595a;
                    }
                }
            }

            p {
                font-size: 1rem;

                a {
                    color: #ff595a;
                    border-bottom-width: 0;
                    transition: opacity .3s;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

    }

}